# Cargo build
/target
Cargo.lock

# Profile-guided optimization
/tmp
pgo-data.profdata

# MacOS nuisances
.DS_Store

**/generated
docs/**bench**

**/*/libposeidon-permute-c-mac.a
**/*/go-iden3-crypto/
node_modules
.vscode
.worktrees/
